* {
  font-family: 'Handlee', cursive;
  font-weight: 100;
  font-style: italic;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: bisque;
}

html {
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
}

.nav-list {
  display: flex;
  flex-direction: column; /* Change l'orientation en colonne */
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed; /* Fixe la navigation à gauche */
  left: 0; /* Alignement à gauche */
  top: 0; /* Démarre du haut de la page */
  height: 100%; /* Prend toute la hauteur */
}

.nav {
  flex: 1;
}

.nav a:hover {
  color: rgb(255, 229, 82);
  box-shadow: 0 5px 10px goldenrod;
}

.nav-link {
  text-decoration: none;
  text-align: left; /* Alignement du texte à gauche */
  padding: 16px; /* Ajustez selon vos besoins */
  display: block; /* Étend les liens sur toute la largeur du conteneur */
  font-size: 16px;
  margin-top: 15px;
}

.nav-list::after {
  content: none;
}

.custom-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
}
.conteneur-previous-bouton {
  position: absolute;
  top: 67%;
  left: 59px;
  transform: translateY(10px);
  font-size: 10px;
  margin-left: 30px;
}
.bouton-retour {
  width: 10%;
  height: auto;
}
.pdf-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 94px;
}

.pdf-item iframe {
  width: 300px;
  height: 200px;
  border: none;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.pdf-item iframe:hover {
  opacity: 1;
  transition: transform 0.5s;
  transform: scale(1.4);
}
.pdf-item.zoomed iframe:hover {
  position: fixed; /* Positionne l'élément de manière fixe par rapport à la fenêtre du navigateur */
  top: 50%;
  left: 50%;
  width: 90vw; /* 90% de la largeur de la fenêtre du navigateur */
  height: 90vh; /* 90% de la hauteur de la fenêtre du navigateur */
  transform: translate(-50%, -50%);
  z-index: 1000; /* S'assure que l'élément est au-dessus des autres éléments */
  border: 4px solid black; /* Optionnel: Ajoute une bordure pour distinguer l'élément zoomé */
}
.pdf-logo {
  font-size: 18px;
  color: #f0db4f;
  font-weight: 900;
}
.title-logo-wrapper {
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne si nécessaire */
  justify-content: space-around; /* Espacement autour des éléments */
  align-items: center; /* Alignement vertical */
}
.title-and-icon {
  display: flex;
  align-items: center; /* Alignement vertical */
  justify-content: center; /* Centrage horizontal, ajustez si nécessaire */
  gap: 10px; /* Espacement entre le texte et l'icône */
}

.pdf-title {
  font-size: 20px;
  margin-top: 10px;
  color: rgba(255, 255, 0, 0.856);
}
.pdf-logo {
  margin: 0; /* Supprime les marges par défaut pour une alignement précis */
}

.pdf-logo,
.pdf-terminal,
.pdf-html5,
.pdf-css3,
.pdf-debug,
.pdf-design,
.pdf-facebook,
.pdf-sass,
.pdf-api,
.pdf-github {
  font-size: 18px;
  color: yellow;
}

.pdf-item {
  display: flex;
  flex-direction: column;
  align-items: center; /* Maintient l'alignement centré des iframes */
  text-align: center;
}

.content h2 {
  color: #fff; /* Ajustez la couleur selon le besoin */
  margin-bottom: 20px;
}
.fa-brands,
.fab {
  font-weight: 900;
  color: yellow;
}
.content button {
  background-color: #000; /* Couleur du fond */
  color: #fff; /* Couleur du texte */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/*Suppression marge body*/
body {
  background-image: url('https://primary.jwwb.nl/unsplash/xrVDYZRGdw4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
}

h1 {
  font-weight: 300;
}

h3 {
  color: #eee;
  font-weight: 100;
}

h5 {
  color: #eee;
  font-weight: 300;
}

a,
a:hover {
  text-decoration: none;
  color: #ddd;
}

.main-container {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.projets-title {
  margin: 0;
  font-size: 22px;
}

/********* AJOUTS DANS LE GENERAL **********/

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/************ En-tête HEADER ************/

header {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  flex-direction: column; /* Empile les éléments verticalement */
  text-align: center; /* Assure que le texte à l'intérieur est également centré, si nécessaire */
}

.nav-list {
  order: 1;
}

.logo {
  order: 0;
  margin-bottom: 20px;
  text-align: center; /* Centrage horizontal du contenu du conteneur .logo */
}

.logo img {
  margin-top: 40px;
  width: 30%;
  height: auto;
  box-shadow: 0 50px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.5);
  border-radius: 60%;
  transition: transform 3s cubic-bezier(0.4, 0.5, 0.2, 1.5);
  transform-style: preserve-3d;
  padding-right: 5px;
  display: block; /* Rend l'image traitée comme un bloc pour le centrage */
  margin-left: auto; /* Centrage horizontal de l'image */
  margin-right: auto; /* Centrage horizontal de l'image */
}

.logo img:hover {
  transform: rotateY(360deg); /* Rotation autour de l'axe Y */
}

/***************** Création d'une marge interieure de 50px sous le header ******************/

/******** Main - 1ère section Titre et paragraphe ******/

.textes {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

h4 {
  display: flex;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-left: 18px;
  color: bisque;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-decoration: underline;
}

p {
  margin-left: 17px;
  margin-top: 0px;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.title-section {
  margin-top: 60px;
  margin-bottom: 45px;
  margin-left: 60px;
  font-size: 23px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.section-footer {
  display: none;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
  header img {
    grid-area: logo;
    display: flex;

    height: 1.2rem;
  }

  h1 {
    display: flex;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding-left: 17px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
  }
  html,
  body {
    max-width: 767px;
    margin: 0 auto;
  }

  header {
    align-items: center;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: black;
    padding: -3px 0 0 32px;
    font-size: 16px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}
