* {
  font-family: 'Madimi One', sans-serif;
  font-weight: 100;
  font-style: italic;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: bisque;
}
html {
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
}
:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: #c800fc;
}
.custom-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
}
.email-button {
  display: inline-block;
  background-color: #007bff; /* Couleur de fond */
  color: #ffffff; /* Couleur du texte */
  text-decoration: none; /* Supprime le soulignement */
  padding: 10px 20px; /* Espacement interne */
  border-radius: 5px; /* Bords arrondis */
  font-size: 16px; /* Taille du texte */
  transition: background-color 0.3s; /* Transition pour l'effet au survol */
}

.email-button:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}

.content h2 {
  color: #fff; /* Ajustez la couleur selon le besoin */
  margin-bottom: 20px;
}

.content button {
  background-color: #000; /* Couleur du fond */
  color: #fff; /* Couleur du texte */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/*Suppression marge body*/
body {
  background-image: url('https://primary.jwwb.nl/unsplash/xrVDYZRGdw4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
}

h1 {
  font-weight: 300;
}

h3 {
  color: #eee;
  font-weight: 100;
}

h5 {
  color: #eee;
  font-weight: 300;
}

a,
a:hover {
  text-decoration: none;
  color: #ddd;
}

.main-container {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}

.projets-title {
  margin: 0;
  font-size: 22px;
}

/********* AJOUTS DANS LE GENERAL **********/

ul {
  list-style-type: none;
  display: flex;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/************ En-tête HEADER ************/

header {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  flex-direction: column; /* Empile les éléments verticalement */
  text-align: center; /* Assure que le texte à l'intérieur est également centré, si nécessaire */
}

.nav-list {
  order: 1;
}

.logo {
  order: 0;
  margin-bottom: 20px;
}
.logo img {
  margin-top: 40px;
  float: left;
  width: 30%;
  height: auto;
  box-shadow: 0 50px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.5);
  border-radius: 60%;
  transition: transform 3s cubic-bezier(0.4, 0.5, 0.2, 1.5); /* Accélération rapide et décélération lente */
  transform-style: preserve-3d; /* S'assure que la transformation 3D est bien rendue */
  padding-right: 5px;
}

.logo img:hover {
  transform: rotateY(360deg); /* Rotation autour de l'axe Y */
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 69px;
  margin: 23px 1px;
}

nav a:hover {
  color: rgb(255, 229, 82);
  padding-top: 5px;
  transform: scale(1.9);
  transition: transform 0.5s ease-in-out, color 0.3s ease-in-out;
  box-shadow: 0 5px 10px goldenrod; /* Ajoute une ombre sous le lien */
}

/***************** Création d'une marge interieure de 50px sous le header ******************/

/******** Main - 1ère section Titre et paragraphe ******/

.textes {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

h4 {
  display: flex;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 8px;
  padding-left: 18px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

p {
  margin-left: 17px;
  margin-top: 0px;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/******** CARDS (partie du code fournie + ajout perso .cards-img ***************/

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  cursor: pointer;
  opacity: 0.8;
}
.card:hover {
  opacity: 1;
  transition: transform 0.5s;
  transform: scale(1.03);
}

.card img,
.cards img {
  object-fit: cover;
}

.card-title {
  font-size: 12px;
  color: bisque;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000; /* Cette configuration ajoute un contour noir autour du texte */
  padding-bottom: 25px;
}
.card-title:hover {
  border-color: yellow;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 5px 50px goldenrod; /* Ajoute une ombre sous le lien */
}

.title-section {
  margin-top: 60px;
  margin-bottom: 45px;
  margin-left: 60px;
  font-size: 23px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

audio {
  height: 35px;
  width: 250px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media screen and (max-width: 1024px) {
  header img {
    grid-area: logo;
    display: flex;

    height: 1.2rem;
  }

  h1 {
    display: flex;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding-left: 17px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
  }
  html,
  body {
    max-width: 767px;
    margin: 0 auto;
  }

  header {
    align-items: center;
    flex-direction: column;
  }

  a {
    text-decoration: none;
    color: black;
    padding: -3px 0 0 32px;
    font-size: 16px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }
}
