* {
  font-family: 'Handlee', cursive;
  font-weight: 100;
  font-style: italic;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: bisque;
}
html {
  max-width: 1460px;
  margin-left: auto;
  margin-right: auto;
}

.fa-solid {
  color: #c800fc;
}
.custom-background {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
}

.content h2 {
  color: #fff; /* Ajustez la couleur selon le besoin */
  margin-bottom: 20px;
}

.content button {
  background-color: #000; /* Couleur du fond */
  color: #fff; /* Couleur du texte */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

/*Suppression marge body*/
body {
  background-image: url('https://primary.jwwb.nl/unsplash/xrVDYZRGdw4.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
}

h1 {
  font-weight: 300;
}

h3 {
  color: #eee;
  font-weight: 100;
}

h5 {
  color: #eee;
  font-weight: 300;
}

a,
a:hover {
  text-decoration: none;
  color: rgb(255, 229, 82);
  text-shadow: 0 5px 10px goldenrod;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.main-container {
  max-width: 1440px;
  margin: auto;
  padding: 0 2rem;
  box-sizing: border-box;
}
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 23px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  color: #c800fc;
  margin-top: 10px;
}
.projets-title {
  margin: 0;
  font-size: 22px;
}

/********* AJOUTS DANS LE GENERAL **********/

ul {
  list-style-type: none;
  display: flex;
  margin-top: 25px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin-left: 30px;
}

/************ En-tête HEADER ************/

header {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
  flex-direction: column; /* Empile les éléments verticalement */
  text-align: center; /* Assure que le texte à l'intérieur est également centré, si nécessaire */
}

.nav-list {
  order: 1;
}

.logo {
  order: 0;
  margin-bottom: 20px;
}
.logo img {
  margin-top: 40px;
  float: left;
  width: 30%;
  height: auto;
  box-shadow: 0 50px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.5);
  border-radius: 60%;
  transition: transform 3s cubic-bezier(0.4, 0.5, 0.2, 1.5); /* Accélération rapide et décélération lente */
  transform-style: preserve-3d; /* S'assure que la transformation 3D est bien rendue */
  padding-right: 5px;
}

.logo img:hover {
  transform: rotateY(360deg); /* Rotation autour de l'axe Y */
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 50px;
  margin: 23px 1px;
}

nav a:hover {
  color: rgb(255, 229, 82);
  padding-top: 5px;
  transform: scale(1.9);
  transition: transform 0.5s ease-in-out, color 0.3s ease-in-out;
  box-shadow: 0 5px 10px goldenrod; /* Ajoute une ombre sous le lien */
}

/***************** Création d'une marge interieure de 50px sous le header ******************/

/***Présentation***/

.textes {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.texte-intro1 img {
  border-radius: 30px;
  opacity: 0.8;
  width: 35%;
  box-shadow: 0 15px 10px goldenrod;
  margin-top: 30px;
  padding: 10px;
  margin-left: 40px;
}
.texte-intro2 img {
  border-radius: 30px;
  opacity: 0.8;
  width: 35%;
  box-shadow: 0 15px 10px goldenrod;
  margin-top: 30px;
  padding: 10px;
  margin-left: 20%;
}
.texte-intro3 img {
  border-radius: 30px;
  opacity: 0.8;
  width: 35%;
  box-shadow: 0 15px 10px goldenrod;
  margin-top: 30px;
  padding: 10px;
  margin-left: 40px;
}
.texte-intro4 img {
  border-radius: 30px;
  opacity: 0.8;
  width: 35%;
  box-shadow: 0 15px 10px goldenrod;
  margin-top: 30px;
  padding: 10px;
  margin-left: 20%;
}
.texte-intro5 img {
  border-radius: 30px;
  opacity: 0.8;
  width: 35%;
  box-shadow: 0 15px 10px goldenrod;
  margin-top: 30px;
  padding: 10px;
  margin-left: 40px;
}
h1 {
  display: flex;
  font-size: 22px;
  margin-top: 0px;
  margin-bottom: 8px;
  padding-left: 18px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.textes {
  font-family: 'Handlee', cursive;
  margin-left: 17px;
  margin-top: 0px;
  font-size: 20px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/*********** Menu FILTRES **********/

.box-filtre h2 {
  display: flex;

  box-sizing: border-box;
  margin-top: 40px;
  margin-left: 23px;
  margin-bottom: 3px;
  align-items: center;

  font-size: 18px;
}
.titre-filtres {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 100px;
  margin-left: 5px;
  margin-right: 10px;
}
.box-filtre p {
  font-size: 8px;
  font-weight: 100;
}

.list-filtre {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: auto;
  padding-left: 0;
  margin-top: 60px;
  justify-content: space-between;
  gap: 15px;
  cursor: none;
}
.box-filtre {
  display: flex;
}
.container-filtres {
  display: flex;
  gap: 3px;
}
.filtres {
  display: flex;
  border-radius: 25px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  align-items: center;
  justify-content: center;
  gap: 17px;
  font-weight: 100;
  font-size: 35px;
  padding: 6px 15px;
  width: auto;
  transition: background-color 2s ease;
  margin-top: 25px;
}

.filtres:hover {
  background-color: #deebff;
}

.filtres:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
/******** CERTIFICATIONS ***************/
.nav-certifications {
  margin-top: 39px;
  font-size: 20px;
}

.material-symbols-outlined:hover {
  color: rgb(255, 229, 82);
  text-shadow: 0 5px 10px goldenrod;
  cursor: pointer;
}
/******** LIEN GITHUB ***************/

.github-link {
  margin-top: 15px;
  margin-left: 40px;
  font-size: 20px;
}

.fa-github {
  margin-left: 15px;
  color: #c800fc;
}
.fa-github:hover {
  color: rgb(255, 229, 82);
  text-shadow: 0 5px 10px goldenrod;
}
/******** CARDS ***************/

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  cursor: pointer;
  opacity: 0.8;
}
.card:hover {
  opacity: 1;
  transition: transform 0.5s;
  transform: scale(1.03);
}

.card img,
.cards img {
  object-fit: cover;
}

.card-title {
  font-size: 12px;
  color: bisque;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  padding-bottom: 25px;
}
.card-title:hover {
  border-color: yellow;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 5px 50px goldenrod; /* Ajoute une ombre sous le lien */
}
/******PROJETS***********/

.projets {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 100px;
}
.section-title {
  margin: 0px 0px 0px 0px;
  font-size: 22px;
}

.cards {
  background-color: white;
  box-sizing: border-box;
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.07));
  border-radius: 20px;
  opacity: 0.91;
}

.cards:hover {
  opacity: 1;
  transition: transform 2s;
}
.cards img {
  display: block;
}

.cards:hover img {
  transform: scale(1.2); /* Zoom léger sur la carte */
  transition: transform 2s ease;
  box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.85);
}
.img-magnifier-container {
  position: relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 100px;
  height: 100px;
}

.section-projets {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 0px 0 0px;
  width: 100%;
}

.projets-cards {
  display: flex;
  margin-bottom: 0;
  margin-left: 25px;
  justify-content: space-between;
}

.projets-cards .cards {
  display: flex;
  flex-direction: column;
  background-color: #63e6be;
  width: 18%;
}

.projets-cards img {
  width: 100%;
  height: 298px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  box-sizing: border-box;
  object-fit: cover;
}

.projets-cards .card-title {
  margin: 0px;
  font-size: 20px;
  text-align: center;
  text-decoration: underline;
}

.title-section {
  margin-top: 60px;
  margin-bottom: 45px;
  margin-left: 60px;
  font-size: 35px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-decoration: underline;
}

/***** FOOTER *******/
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fixed-container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-right: 10%;
  margin-bottom: 2%;
}

.contact-text {
  margin-right: 10px;
}

.arrow {
  display: flex;
  flex-direction: column;
  padding-left: 26px;
}

.arrow span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 0.9s infinite;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(315deg) translate(20px, 20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(315deg) translate(-20px, -20px);
  }
}
/* Ajustement de la taille de texte du formulaire */
.formbutton-form label,
.formbutton-form p,
.formbutton-form input,
.formbutton-form textarea {
  font-size: 14px;
}
.formbutton-form .form-title {
  font-size: 16px;
}

.audio-caption {
  font-size: 14px;
  font-style: italic;
}
audio {
  height: 35px;
  width: 250px;
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .main-container {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
  }
  html,
  body {
    max-width: 767px;
    margin: 0 auto;
  }

  * {
    font-family: 'Handlee', cursive;
    font-weight: 100;
    font-style: italic;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: bisque;
  }
  html {
    max-width: 1460px;
    margin-left: auto;
    margin-right: auto;
  }

  .fa-solid {
    color: #c800fc;
  }
  .custom-background {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    text-align: center;
    padding: 50px 0;
  }

  .content h2 {
    color: #fff; /* Ajustez la couleur selon le besoin */
    margin-bottom: 20px;
  }

  .content button {
    background-color: #000; /* Couleur du fond */
    color: #fff; /* Couleur du texte */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }

  /*Suppression marge body*/
  body {
    background-image: url('https://primary.jwwb.nl/unsplash/xrVDYZRGdw4.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .container {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
  }

  h1 {
    font-weight: 300;
  }

  h3 {
    color: #eee;
    font-weight: 100;
  }

  h5 {
    color: #eee;
    font-weight: 300;
  }

  .main-container {
    max-width: 1440px;
    margin: auto;
    padding: 0 2rem;
    box-sizing: border-box;
  }

  .projets-title {
    margin: 0;
    font-size: 22px;
  }

  /********* AJOUTS DANS LE GENERAL **********/

  ul {
    list-style-type: none;
    display: flex;
    margin-top: 25px;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  /************ En-tête HEADER ************/

  header {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    flex-direction: column; /* Empile les éléments verticalement */
    text-align: center; /* Assure que le texte à l'intérieur est également centré, si nécessaire */
  }

  .nav-list {
    order: 1;
  }

  .logo {
    order: 0;
    margin-bottom: 20px;
  }
  .logo img {
    margin-top: 40px;
    float: left;
    width: 30%;
    height: auto;
    box-shadow: 0 50px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.5);
    border-radius: 60%;
    transition: transform 3s cubic-bezier(0.4, 0.5, 0.2, 1.5); /* Accélération rapide et décélération lente */
    transform-style: preserve-3d; /* S'assure que la transformation 3D est bien rendue */
    padding-right: 5px;
  }

  .logo img:hover {
    transform: rotateY(360deg); /* Rotation autour de l'axe Y */
  }
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 50px;
    margin: 23px 1px;
  }

  nav a:hover {
    color: rgb(255, 229, 82);
    padding-top: 5px;
    transform: scale(1.9);
    transition: transform 0.5s ease-in-out, color 0.3s ease-in-out;
    box-shadow: 0 5px 10px goldenrod; /* Ajoute une ombre sous le lien */
  }

  /***************** Création d'une marge interieure de 50px sous le header ******************/

  /***Présentation***/

  .textes {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
  .texte-intro1 img {
    border-radius: 30px;
    opacity: 0.8;
    width: 35%;
    box-shadow: 0 15px 10px goldenrod;
    margin-top: 30px;
    padding: 10px;
    margin-left: 40px;
  }
  .texte-intro2 img {
    border-radius: 30px;
    opacity: 0.8;
    width: 35%;
    box-shadow: 0 15px 10px goldenrod;
    margin-top: 30px;
    padding: 10px;
    margin-left: 20%;
  }
  .texte-intro3 img {
    border-radius: 30px;
    opacity: 0.8;
    width: 35%;
    box-shadow: 0 15px 10px goldenrod;
    margin-top: 30px;
    padding: 10px;
    margin-left: 40px;
  }
  .texte-intro4 img {
    border-radius: 30px;
    opacity: 0.8;
    width: 35%;
    box-shadow: 0 15px 10px goldenrod;
    margin-top: 30px;
    padding: 10px;
    margin-left: 20%;
  }
  .texte-intro5 img {
    border-radius: 30px;
    opacity: 0.8;
    width: 35%;
    box-shadow: 0 15px 10px goldenrod;
    margin-top: 30px;
    padding: 10px;
    margin-left: 40px;
  }
  h1 {
    display: flex;
    font-size: 22px;
    margin-top: 0px;
    margin-bottom: 8px;
    padding-left: 18px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .textes {
    font-family: 'Handlee', cursive;
    margin-left: 17px;
    margin-top: 0px;
    font-size: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  /*********** Menu FILTRES **********/

  .box-filtre h2 {
    display: flex;

    box-sizing: border-box;
    margin-top: 40px;
    margin-left: 23px;
    margin-bottom: 3px;
    align-items: center;

    font-size: 18px;
  }
  .titre-filtres {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 100px;
    margin-left: 5px;
    margin-right: 10px;
  }
  .box-filtre p {
    font-size: 8px;
    font-weight: 100;
  }

  .box-filtre {
    display: flex;
  }
  .container-filtres {
    display: flex;
    gap: 3px;
  }
  .filtres {
    display: flex;
    border-radius: 25px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    align-items: center;
    justify-content: center;
    gap: 17px;
    font-weight: 100;
    font-size: 23px;
    padding: 6px 15px;
    width: auto;
    transition: background-color 2s ease;
    margin-top: 25px;
  }

  .list-filtre i {
    font-size: 1.3em;
  }

  .filtres:hover {
    background-color: #deebff;
  }

  .filtres:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }

  /******** CARDS ***************/

  .card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    cursor: pointer;
    opacity: 0.8;
  }
  .card:hover {
    opacity: 1;
    transition: transform 0.5s;
    transform: scale(1.03);
  }

  .card img,
  .cards img {
    object-fit: cover;
  }

  .card-title {
    font-size: 12px;
    color: bisque;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000; /* Cette configuration ajoute un contour noir autour du texte */
    padding-bottom: 25px;
  }
  .card-title:hover {
    border-color: yellow;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0 5px 50px goldenrod; /* Ajoute une ombre sous le lien */
  }
  /******PROJETS***********/

  .projets {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
  }
  .section-title {
    margin: 0px 0px 0px 0px;
    font-size: 22px;
  }

  .cards {
    background-color: white;
    box-sizing: border-box;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.07));
    border-radius: 20px;
    opacity: 0.91;
  }

  .cards:hover {
    opacity: 1;
    transition: transform 2s;
  }
  .cards img {
    display: block; /* Élimine l'espace blanc sous les images */
  }

  .cards:hover img {
    /* Zoom plus significatif sur l'image */
    transform: scale(1.2); /* Zoom léger sur la carte */
    transition: transform 2s ease;
    cursor: pointer;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.85);
  }
  .img-magnifier-container {
    position: relative;
  }

  .img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    width: 100px;
    height: 100px;
  }

  .section-projets {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0 0px 0 0px;
    width: 100%;
  }

  .projets-cards {
    display: flex;
    margin-bottom: 0;
    margin-left: 25px;
    justify-content: space-between;
  }

  .projets-cards img {
    width: 100%;
    height: 370px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
    object-fit: cover;
  }

  .title-section {
    margin-top: 60px;
    margin-bottom: 45px;
    margin-left: 60px;
    font-size: 35px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
      1px 1px 0 #000;
    text-decoration: underline;
  }

  /***** FOOTER *******/
  .form-container {
    display: flex;
    flex-direction: column; /* Si vous souhaitez que les éléments soient empilés verticalement */
    align-items: center; /* Centrer les éléments horizontalement*/
  }
  .fixed-container {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-right: 10%;
    margin-bottom: 2%;
  }

  .contact-text {
    margin-right: 10px;
  }

  .arrow {
    display: flex;
    flex-direction: column;
    padding-left: 26px;
  }

  .arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 0.9s infinite;
  }

  .arrow span:nth-child(2) {
    animation-delay: -0.2s;
  }

  .arrow span:nth-child(3) {
    animation-delay: -0.4s;
  }

  @keyframes animate {
    0% {
      opacity: 0;
      transform: rotate(315deg) translate(20px, 20px);
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: rotate(315deg) translate(-20px, -20px);
    }
  }

  .audio-caption {
    font-size: 14px;
    font-style: italic;
  }

  @media screen and (max-width: 667px) {
    .nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 20px; /* Réduit pour économiser de l'espace */
      margin: 10px 0; /* Ajusté pour réduire l'espace */
      font-size: 8px; /* Taille de police réduite */
    }
    .presentation {
      max-width: 100%; /* Utilisez max-width et rendez-le relatif */
      overflow: hidden; /* Empêche le débordement du contenu */
    }
    .logo img {
      margin-top: 20px; /* Ajustement optionnel */
      width: 40%; /* Ajustez selon le besoin */
      height: auto;
    }
    .projets-cards {
      display: flex;
      flex-wrap: wrap; /* Permet aux éléments de passer à la ligne */
      margin-bottom: 0;
      margin-left: 0; /* Ajusté */
      justify-content: space-around; /* Amélioration de l'espacement */
      width: 100%; /* Empêche le débordement */
    }
    .projets-cards img {
      width: 45%; /* Ajustez pour permettre deux cartes par ligne ou empilement */
      height: auto; /* Ajustez la hauteur pour maintenir le rapport d'aspect */
      margin-bottom: 10px; /* Espacement entre les cartes */
    }
  }
}
